.nav-pad {
    padding-left: 0%;
    padding-right: 0%;
}

.max-height {
    height: 100%;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}