<div class="container-fluid" style="padding-right: 0%;">

    <div class="">
        <div class="chat">
            <div class="card  contacts_card">
                <div class="row">
                    <div style="text-align: center;" class="col-md-2">
                        <i style="display: inline-block;" (click)="tooglefunc()" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    </div>
                    <div style="text-align: center;" class="col-md-10">
                        <h4 style="display: inline-block;">NewChat</h4>
                    </div>
                </div>

                <div style="text-align: center;">


                </div>
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>


                <div class="card-body contacts_body">
                    <ul class="contacts">
                        <h5 style="text-align: center;">#Frequently contacted</h5>
                        <li *ngFor="let item of recent_contact_list">
                            <div (click)="callFunct(currentUsername,item.name,true,item.profilepic)" class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img *ngIf="item.profilepic" [src]="item?.profilepic" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>{{item.name}}</span>
                                    <p style="font-size: 15px;">{{item?.lastmessage}} </p>
                                    <p>{{ item?.time | date: 'shortTime' }}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            #
                        </li>
                        <li *ngFor="let item of contact_list">
                            <div (click)="callFunct(currentUsername,item.name,true,item.profilepic)" class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img *ngIf="item.profilepic" [src]="item?.profilepic" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
